body {
	font-size: 14pt;
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	color: whitesmoke;
	font-family: 'Cutive Mono', monospace;
	line-height: 1.5em;
	background-color: #202020;
}

body * {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-weight: normal;
	max-width: 100%;
}

h1 {
	margin: 0 auto;
	font-weight: normal;
	font-size: 1.68em;
	line-height: 1.5em;
	max-width: 22em;
	text-align: center;
}
h2 {
	margin: 2em auto;
	font-size: 1.68em;
	line-height: 1.6em;
}
h3 {
	font-size: 1.41em;
	line-height: 1.6em;
	margin: 0;
	/* border-bottom: 1px solid gray; */
}
h4 {
	line-height: 1.88em;
	font-size: 1.19em;
	margin: 0;
}
h5 { font-weight: bold; }

p {
	margin: 1.5em 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

img {
	box-sizing: border-box;
	object-fit: cover;
}

a {
	position: relative;
	color: whitesmoke;
}

a.fancy {
	text-decoration: none;
}
a.fancy::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1.5em;
	border-bottom: 1px solid whitesmoke;
	transition: width .3s ease, border-color .3s;
}
a.fancy:hover::before {
	width: 100%;
}

div.container {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	box-sizing: border-box;
}

.flex {
	display: flex;
}

.flex.column {
	flex-direction: column;
}

.framed {
	border: 1em solid whitesmoke;
}

.framed.dark {
	border: 1em solid black;
}

nav {
	display: flex;
	justify-content: space-between;
	max-width: 80em;
	margin: 0 auto;
	height: 2em;
	line-height: 2em;
	padding: 0 2em;
}

nav div {
	flex: 1;
	position: relative;
	padding: .5em 0 0 0;
	user-select: none;
}

nav > div.section-link:not(.on) {
	cursor: pointer;
}

nav > div.section-link::before {
	content: '';
	position: absolute;
	width: 0;
	height: 1.5em;
	border-bottom: 1px solid #444;
	transition: width .3s ease, border-color .3s;
}

nav > div.section-link:hover::before {
	width: 80%;
}

nav > div.section-link.on::before {
	width: 80%;
	border-bottom-color: whitesmoke;
}

main {
	position: relative;
	justify-content: space-around;
	min-height: calc(100vh - 2em);
	padding: 4em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
}

main.show {
	animation: fadein 1s;
}
main.shown{
	z-index: 1;
	display: flex;
}
main.hide {
	animation: fadeout 1s;
}
main.hidden {
	z-index: -1;
	display: none;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

main#about section {
	flex: 1 1 50%;
	justify-content: space-between;
	margin-bottom: 2em;
}

main#contact a#company-email {
	color:whitesmoke;
	text-decoration:none;
}

main#work section {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	padding: 6em;
	transform: translateX(200%);
	transition: transform 1s;
	opacity: 0;
}

main#work section.prev {
	opacity: 1;
	transform: translateX(-200%);
}

main#work section.current {
	opacity: 1;
	transform: translateX(0);
}


main#work section > div.left {
	flex: 1 1 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main#work section > div.right {
	justify-content: space-around;
	text-align: left;
	flex: 1 0 50%;
	padding-left: 4em;
}

main#work section > div.right img {
	display: block;
	margin: 4em auto;
	width: 60%;
	max-width: 350px;
}


main#work div.r-arrow {
	position: fixed;
	top: 50%;
}


div.r-arrow {
	position: relative;
	transition: border-color .5s ease;
	right: 2em;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-color: whitesmoke whitesmoke whitesmoke transparent;
	cursor: pointer;
}

div.r-arrow > div:first-child {
	position: absolute;
	top: -1em;
	left: 1em;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-color: transparent transparent transparent whitesmoke;
	cursor: pointer;
	transition: border-color .5s ease;
	overflow: visible;
}
div.r-arrow:hover {
	border-color: #444 #444 #444 transparent;
}
div.r-arrow:hover > div:first-child {
	border-color: transparent transparent transparent #444;
}


@media only screen and (max-width: 1000px) {
	
	.flex.collapse {
		flex-direction: column;
	}
	.flex.collapse.reverse {
		flex-direction: column-reverse;
	}
	
	.responsive-margin {
		margin: 0 !important;
	}
	
	main {
		padding: 4em 1em;
	}
	
	main#about section {
		margin: 0;
	}
	main#about section img {
		margin: 2em 0 !important;
		width: 100% !important;
	}
	
	main#work {
		bottom: auto;
	}
	main#work section {
		padding: 1em;
		max-width: 40em;
	}
	main#work section > div.right {
		display: block;
		padding-left: 0;
	}
	main#work section > div.left {
		display: none;
	}
	main#work div.r-arrow {
		top: auto;
		bottom: 1.5em;
		right: 2.5em;
	}
}

div#background {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url('./img/bl_back.png');
	background-position: center 1em;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	background-color: #202020;
	z-index: 0;
}

@media only screen and (max-width:600px) {
	body {
		font-size: 12pt;
	}
	nav {
		padding: 0 1em;
		text-align: center;
	}
	nav > div:first-child {
		text-align: left;
	}
	nav > div:last-child {
		text-align: right;
	}
}

@keyframes fadein {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeout {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 0;}
}
